<<<<<<< HEAD
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    flex-direction: column; /* Make everything stack vertically */
}

.container {
    position: relative;
    width: 300px;  /* Fixed width of the box/container */
    height: 500px; /* Fixed height of the box/container */
    overflow: hidden; /* Ensure any overflowing content is hidden */
    background-color: #f2f2f2; /* Background color for visibility */
    border: 1px solid #ccc; /* Optional border for clarity */
}


#userImage {
    position: absolute; /* Position it absolutely */
    top: 0; /* Align to the top of the container */
    left: 0; /* Align to the left of the container */
    z-index: 1; /* User image at the bottom */
    width: 300px; /* Maintain aspect ratio */
    height: 500px; /* Maintain aspect ratio */
}

#clothingImage {
    position: absolute; /* Position it absolutely */
    top: 0; /* Start aligned with the user image */
    left: 0; /* Start aligned with the user image */
    z-index: 2; /* Clothing image at the top */
    cursor: move; /* Indicate that the clothing image is draggable */
    /*opacity: 0.8; /* Slightly transparent to see the user image underneath */
}



.controls {
   
=======
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    flex-direction: column; /* Make everything stack vertically */
}

.container {
    position: relative;
    width: 300px;  /* Fixed width of the box/container */
    height: 500px; /* Fixed height of the box/container */
    overflow: hidden; /* Ensure any overflowing content is hidden */
    background-color: #f2f2f2; /* Background color for visibility */
    border: 1px solid #ccc; /* Optional border for clarity */
}


#userImage {
    position: absolute; /* Position it absolutely */
    top: 0; /* Align to the top of the container */
    left: 0; /* Align to the left of the container */
    z-index: 1; /* User image at the bottom */
    width: 300px; /* Maintain aspect ratio */
    height: 500px; /* Maintain aspect ratio */
}

#clothingImage {
    position: absolute; /* Position it absolutely */
    top: 0; /* Start aligned with the user image */
    left: 0; /* Start aligned with the user image */
    z-index: 2; /* Clothing image at the top */
    cursor: move; /* Indicate that the clothing image is draggable */
    /*opacity: 0.8; /* Slightly transparent to see the user image underneath */
}



.controls {
>>>>>>> 164fd81905bdb458f3fcd9379d09e257d9567695
}